@import "reset";
@import "function";
@import "variable";

body {
  color: $dark-navy;
}
.hero__heading,
.submit-card__heading {
  font-size: rem(40);
  line-height: 1;
}

.hero__para,
.submit-card__para,
.hero__features,
.submit-btn {
  font-size: rem(16);
}
.hero-img {
  width: 100vw;
}
.hero-txt {
  padding: rem(40) 0 rem(0);
  max-width: rem(327);
  margin: 0 auto;
}

.hero__heading,
.hero__para {
  margin-bottom: rem(24);
}

.hero-feature-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

box-icon {
  fill: $orange;
}

.hero__features {
  display: flex;
  align-items: flex-start;
  gap: rem(16);
}

.form {
  margin-top: rem(26);
}

.email-container {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  margin-bottom: rem(24);
}

.email-lables {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email__heading,
.error__msg {
  font-size: rem(12);
  font-weight: 700;
}

.email__field {
  border-radius: rem(9);
  border: 1px solid $gray-opac;
  height: rem(56);
  width: 100%;
  padding-left: rem(24);
  font-size: rem(16);
  color: $dark-navy;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  &::placeholder {
    font-size: rem(16);
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: $pale-navy;
  }

  &:focus {
    border-color: $dark-navy;
    outline: none;
  }
}

.submit__btn {
  background: $dark-navy;
  color: $white;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-radius: rem(8);
  border: none;
  font-weight: 700;
  height: rem(56);
  transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  &:hover {
    background: -webkit-linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
    background: -o-linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
    background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  }
}

.submit-card {
  width: rem(327);
  margin: 0 auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  background-color: $white;
  display: none;
}

.submit-card__heading {
  margin-bottom: rem(24);
}

.submit-check-icon {
  margin-bottom: rem(40);
  font-size: rem(40);
}

.error__msg {
  display: none;
  color: $orange;
}

.display {
  display: block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.email__error-state {
  background: $orange-opac;
  color: $orange;
  border-color: $orange;

  &:focus {
    border-color: $orange;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@import "desktop";
